{
  "env": {
    "production": {
      "plugins": [
        "transform-react-inline-elements",
        "transform-react-constant-elements"
      ]
    }
  },
  "presets": ["es2015-rollup", "react"]
}
